.quiqqer-frontendUsers-controls-profile {
    --_qui-frontend-users-profile__bg-color: var(--qui-frontend-users-profile__bg-color, #f5f5f5);
    --_qui-frontend-users-profile__radius: var(--qui-frontend-users-profile__radius, 0.5rem);
    --_qui-frontend-users-profile__content-maxWidth: var(--qui-frontend-users-profile__content-maxWidth, 600px);
    --_qui-frontend-users-profile__sidebar-width: var(--qui-frontend-users-profile__sidebar-width, 300px);
    --_qui-frontend-users-profile__sidebar-nav-item-outline--hover: var(--qui-frontend-users-profile__sidebar-nav-item-outline--hover, 2px solid currentColor);
    --_qui-frontend-users-profile__sidebar-nav-item-bg-color--hover: var(--qui-frontend-users-profile__sidebar-nav-item-bg-color--hover, #f5f5f5);

    display: flex;
    gap: clamp(2rem, 10vw - 4rem, 4rem);
}

.quiqqer-frontendUsers-controls-profile__sidebar {
    min-width: 0;
    width: var(--_qui-frontend-users-profile__sidebar-width);
    flex-shrink: 0;
}

.quiqqer-frontendUsers-controls-profile__content {
    min-width: 0;
    flex-grow: 1;
}

@media screen and (max-width: 767px) {
    .quiqqer-frontendUsers-controls-profile {
        flex-direction: column;
        gap: 2rem;
    }

    .quiqqer-frontendUsers-controls-profile__sidebar,
    .quiqqer-frontendUsers-controls-profile__content {
        width: 100%
    }
}

/* popup */
.qui-window-popup--frontendUsers-profile {
    --_qui-frontend-users-profile__popup__bg-color: var(--qui-frontend-users-profile__popup__bg-color, #f5f5f5);
    --_qui-frontend-users-profile__popup__radius: var(--qui-frontend-users-profile__popup__radius, 0.5rem);
}

/* general */
address {
    font-style: normal;
}

address :where(.adr:not(:last-child)) {
    margin-bottom: 0.5rem;
}

/*********************/
/* categories / tabs */
/*********************/
.quiqqer-fupc-category:not(:last-child) {
    margin-bottom: 1rem;
}

.quiqqer-fupc-category-header {
    padding-block: 0.5em;
    cursor: pointer;
    font-weight: bold;
    display: flex;
    align-items: baseline;
}

.quiqqer-fupc-category-header__text {
    flex-grow: 1;
}

.quiqqer-fupc-category-header__icon {
    text-align: center;
    width: 30px;
}

:where([data-open="1"]) .quiqqer-fupc-category-header__icon {
    transform: rotate(90deg);
}

.quiqqer-fupc-category-items-item {
    display: none;
    text-decoration: none;
    font-weight: normal;
    padding: 0.25em 0.5em;
    border-radius: var(--_qui-frontend-users-profile__radius);
    outline-offset: -2px;
    color: inherit;
    align-items: baseline;
}

.quiqqer-fupc-category-items-item:where([data-active]) {
    background-color: var(--_qui-frontend-users-profile__sidebar-nav-item-bg-color--hover);
}

:where([data-open="1"]) .quiqqer-fupc-category-items-item {
    display: flex;
}

.quiqqer-fupc-category-items-item-icon {
    line-height: 30px;
    margin-right: 0.5em;
    flex-shrink: 0;
}

:where(.quiqqer-fupc-category-items-item):hover {
    outline: var(--_qui-frontend-users-profile__sidebar-nav-item-outline--hover);
    color: inherit;
}

.quiqqer-fupc-category-items-item-text {
    flex-grow: 1;
}

.quiqqer-frontendUsers-saveButton {
    cursor: pointer;
}

/* mobile */
.quiqqer-frontendUsers-controls-profile-categories-mobile {
    display: none;
}

@media screen and (max-width: 767px) {
    .quiqqer-frontendUsers-controls-profile-categories-mobile {
        display: block;
    }

    .quiqqer-frontendUsers-controls-profile-categories-mobile-label {
        width: 100%;
    }
}

/********************/
/* category content */
/********************/
/* content */
.quiqqer-frontendUsers-profile-section:not(:last-child) {
    margin-bottom: 2rem;
}

.quiqqer-frontendUsers-controls-profile-categoryContent {
    position: relative;
    max-width: var(--_qui-frontend-users-profile__content-maxWidth);
    margin-inline: auto;
}

.quiqqer-frontendUsers-controls-profile-categoryContentAnimation {
    position: relative;
    width: 100%;
}

/* form basic styling */
.quiqqer-frontendUsers-controls-profile-control :where(h2) {
    margin-top: 0;
}

.quiqqer-frontendUsers-controls-profile-control :where(label) {
    margin-bottom: 1rem;
    width: 100%;
    display: block;
}

/* todo fix in qui, no float: left  */
.quiqqer-frontendUsers-userdata-address-country,
.quiqqer-frontendUsers-userdata-language,
.quiqqer-frontendUsers-userdata-invoiceaddress {
    display: flow-root;
}

.quiqqer-frontendUsers-controls-profile-control :where(label > span:first-child) {
    font-size: 0.875em;
    margin-bottom: 0.5em;
    opacity: 0.75;
}

.quiqqer-frontendUsers-controls-profile-control :where(input:not([type="checkbox"], [type="radio"]), select, textarea) {
    width: 100%;
}

/* form basic styling: user data */
.quiqqer-frontendUsers-controls-profile-control :where(.address-street--2-col) {
    display: grid;
    grid-template-columns: 5fr minmax(5rem, 1fr);
    gap: 1rem;
}

.quiqqer-frontendUsers-controls-profile-control select[name="country"] {
    display: none;
}

.quiqqer-frontendUsers-controls-profile-control .qui-select {
    width: 100%;
}

.quiqqer-frontendUsers-controls-profile-control :where(.qui-select .drop-icon) {
    height: 36px;
}

/**************/
/* responsive */
/**************/
.quiqqer-frontendUsers-controls-profile-categories-mobile {
    display: none;
}

@media (max-width: 767px) {
    .quiqqer-frontendUsers-controls-profile-control input:not([type="checkbox"], [type="radio"]),
    .quiqqer-frontendUsers-userdata-address-country-select,
    .quiqqer-frontendUsers-controls-profile-categories-mobile select,
    .package-intranet-profile-birthday,
    .quiqqer-frontendUsers-userdata-email,
    .quiqqer-frontendUsers-userdata-field {
        width: 100%;
    }

    .quiqqer-frontendUsers-userdata-address-country-select,
    .package-intranet-profile-birthday,
    .quiqqer-frontendUsers-userdata-email,
    .quiqqer-frontendUsers-userdata-field {
        display: block;
    }

    .quiqqer-frontendUsers-controls-profile-categories-mobile {
        display: block;
        width: 100%;
    }

    .quiqqer-frontendUsers-controls-profile-categories {
        display: none;
    }

    .quiqqer-frontendUsers-controls-profile-categoryContent {
        max-width: 100%;
    }

    .quiqqer-frontendUsers-saveButton {
        width: 100%;
    }
}