.quiqqer-frontendUsers-controls-profile {
    display: grid;
    grid-template-columns: 300px 1fr;
    gap: clamp(2rem, 10vw - 4rem, 4rem);
}

@media screen and (max-width: 767px) {
    .quiqqer-frontendUsers-controls-profile {
        grid-template-columns: 1fr;
        gap: 2rem;
    }
}

/*********************/
/* categories / tabs */
/*********************/
.quiqqer-frontendUsers-controls-profile-categories {
    min-width: 0;
}

.quiqqer-fupc-category:not(:last-child) {
    margin-bottom: 1rem;
}

.quiqqer-fupc-category-header {
    padding-block: 0.25em;
    padding-right: 30px; /* opener icon width */
    position: relative;
    cursor: pointer;
    font-weight: bold;
}

.quiqqer-fupc-category-header-opener {
    line-height: 30px;
    position: absolute;
    right: 0;
    text-align: center;
    width: 30px;
}

:where([data-open="1"]) .quiqqer-fupc-category-header-opener {
    transform: rotate(90deg);
}

.quiqqer-fupc-category-items-item {
    display: none;
    text-decoration: none;
    font-weight: normal;
    padding: 0.25em 0.5em;
    border-radius: 0.5em;
    outline-offset: -2px;
}

.quiqqer-fupc-category-items-item:where([data-active]) {
    background-color: #f5f5f5;
}

:where([data-open="1"]) .quiqqer-fupc-category-items-item {
    display: flex;
}

.quiqqer-fupc-category-items-item-icon {
    line-height: 30px;
    margin-right: 0.5em;
    flex-shrink: 0;
}

.quiqqer-fupc-category-items-item:hover {
    outline: currentColor solid 2px;
}

.quiqqer-fupc-category-items-item-text {
    flex-grow: 1;
}

.quiqqer-frontendUsers-saveButton {
    cursor: pointer;
}

/********************/
/* category content */
/********************/
/* mobile */
.quiqqer-frontendUsers-controls-profile-categories-mobile {
    display: none;
}

@media screen and (max-width: 767px) {
    .quiqqer-frontendUsers-controls-profile-categories-mobile {
        display: block;
    }

    .quiqqer-frontendUsers-controls-profile-categories-mobile-label {
        width: 100%;
    }
}

/* content */
.quiqqer-frontendUsers-profile-section:not(:last-child) {
    margin-bottom: 2rem;
}

.quiqqer-frontendUsers-controls-profile-categoryContent {
    position: relative;
    min-width: 0;
}

.quiqqer-frontendUsers-controls-profile-categoryContentAnimation {
    position: relative;
    width: 100%;
}

/* form basic styling */
.quiqqer-frontendUsers-controls-profile-control :where(h2) {
    margin-top: 0;
}

.quiqqer-frontendUsers-controls-profile-control :where(label) {
    margin-bottom: 1rem;
    width: 100%;
}

.quiqqer-frontendUsers-controls-profile-control :where(input:not([type="checkbox"], [type="radio"]), select, textarea) {
    width: 100%;
}

/**************/
/* responsive */
/**************/
.quiqqer-frontendUsers-controls-profile-categories-mobile {
    display: none;
}

@media (max-width: 767px) {
    .quiqqer-frontendUsers-controls-profile-control input,
    .quiqqer-frontendUsers-userdata-address-country-select,
    .package-intranet-profile-birthday,
    .quiqqer-frontendUsers-userdata-email,
    .quiqqer-frontendUsers-userdata-field {
        display: block;
        width: 100%;
    }


    .quiqqer-frontendUsers-controls-profile-categories-mobile {
        display: block;
        width: 100%;
    }

    .quiqqer-frontendUsers-controls-profile-categories-mobile select {
        width: 100%;
    }

    .quiqqer-frontendUsers-controls-profile-categories {
        display: none;
    }

    .quiqqer-frontendUsers-saveButton {
        width: 100%;
    }
}