.quiqqer-frontendUsers-controls-profile {
    display: flex;
    gap: 4rem;
}

@media screen and (max-width: 767px) {
    .quiqqer-frontendUsers-controls-profile {
        flex-direction: column;
        gap: 2rem;
    }
}

/** categories / tabs
 ==================================== */

.quiqqer-frontendUsers-controls-profile-categories {
    width: 30%;
}

.quiqqer-fupc-category {
    margin-bottom: 1rem;
}

.quiqqer-fupc-category-header {
    padding-block: 0.25em;
    padding-right: 30px;
    position: relative;
    cursor: pointer;
    font-weight: bold;
}

.quiqqer-fupc-category-header-opener {
    line-height: 30px;
    position: absolute;
    right: 0;
    text-align: center;
    width: 30px;
}

[data-open="1"] .quiqqer-fupc-category-header-opener {
    transform: rotate(90deg);
}

.quiqqer-fupc-category-items-item {
    display: none;
    text-decoration: none;
    font-weight: normal;
    padding-block: 0.25em;
}

.quiqqer-fupc-category-items-item[data-active] {
}

[data-open="1"] .quiqqer-fupc-category-items-item {
    display: flex;
}

.quiqqer-fupc-category-items-item-icon {
    line-height: 30px;
    width: 2rem;
    flex-shrink: 0;
}

.quiqqer-fupc-category-items-item:hover {
}


.quiqqer-fupc-category-items-item-text {
    flex-grow: 1;
}

.quiqqer-frontendUsers-saveButton {
    cursor: pointer;
}

/** category content
 ==================================== */
/*.quiqqer-frontendUsers-controls-profile-control > header:first-of-type > h2 {*/
/*    margin-bottom: 2rem;*/
/*}*/

.quiqqer-frontendUsers-controls-profile-categoryContent {
    position: relative;
    width: 70%;
}

.quiqqer-frontendUsers-controls-profile-categoryContentAnimation {
    float: left;
    position: relative;
    width: 100%;
}

.quiqqer-frontendUsers-controls-profile-control label {
    clear: both;
    float: left;
    margin-bottom: 1rem;
    width: 100%;
}

@media screen and (min-width: 768px) {
    .quiqqer-frontendUsers-label {
        float: left;
        width: 30%;
    }
}

/** user
 ==================================== */

.package-intranet-profile-birthday {
    float: left;
    width: 66%;
}

.package-intranet-profile-birthday [name="birth_day"],
.package-intranet-profile-birthday [name="birth_year"] {
    float: left;
    width: calc(20% - 10px);
}

.package-intranet-profile-birthday [name="birth_month"] {
    float: left;
    margin: 0 10px;
    width: 60%;
}

/** responsive
 ==================================== */

.quiqqer-frontendUsers-controls-profile-categories-mobile {
    display: none;
}


@media (max-width: 767px) {
    .quiqqer-frontendUsers-userdata-label {
        display: block;
        width: 100%;
        margin-bottom: 0.25rem;
    }

    /*.quiqqer-frontendUsers-controls-profile-userdata input[name="firstname"],*/
    /*.quiqqer-frontendUsers-controls-profile-userdata input[name="lastname"],*/
    /*.quiqqer-frontendUsers-controls-profile-userdata input[name="street_no"],*/
    /*.quiqqer-frontendUsers-controls-profile-userdata input[name="zip"],*/
    /*.quiqqer-frontendUsers-controls-profile-userdata input[name="city"],*/
    .quiqqer-frontendUsers-controls-profile-control input,
    .quiqqer-frontendUsers-userdata-address-country-select,
    .package-intranet-profile-birthday,
    .quiqqer-frontendUsers-userdata-email,
    .quiqqer-frontendUsers-userdata-field {
        display: block;
        width: 100%;
    }


    .quiqqer-frontendUsers-controls-profile-categories-mobile {
        clear: both;
        display: inline;
        float: left;
        width: 100%;
    }

    .quiqqer-frontendUsers-controls-profile-categories-mobile select {
        clear: both;
        width: 100%;
    }

    .quiqqer-frontendUsers-controls-profile-categories {
        display: none;
    }

    .quiqqer-frontendUsers-controls-profile-categoryContent {
        padding: 0;
        width: 100%;
    }

    .quiqqer-frontendUsers-saveButton {
        width: 100%;
    }
}