.quiqqer-fu-registrationSignUp--simple {
    --_registration-card-background-color: var(--quiqqer-frontendUsers-controls-registrationSignUp-registration-card-bgColor, var(--qui-colors-surface, #f6f6f7));
    --_registration-card-shadow: var(--quiqqer-frontendUsers-controls-registrationSignUp-registration-cad-shadow, var(--qui-shadow-card, none));
}

.quiqqer-fu-registrationSignUp {
    --_registration-card-padding: var(--quiqqer-frontendUsers-controls-registrationSignUp-registration-cards-padding, clamp(1rem, 5vw, 3rem));
    --_registration-card-text-align: var(--quiqqer-frontendUsers-controls-registrationSignUp-registration-cards-text-align, center);

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 3rem auto;
    width: 100rem;
    max-width: calc(100% - clamp(0rem, 5vw - 2rem, 6rem)); /* works like padding, mobile is no spacing */
    align-items: center;
}

.quiqqer-fu-registrationSignUp-info,
.quiqqer-fu-registrationSignUp-registration {
    position: relative;
    flex: 1;
    flex-basis: min(100%, 400px);
    padding: 1rem;
}

.quiqqer-fu-registrationSignUp-registration__inner {
    background: var(--_registration-card-background-color);
    border-radius: var(--qui-radius-card);
    box-shadow: var(--_registration-card-shadow);
    width: min(100%, 28rem);
    margin-inline: auto;
}

.quiqqer-fu-registrationSignUp-registration--hasNoContent {
    width: 100%;
}

.quiqqer-fu-registrationSignUp-registration__registration,
.quiqqer-fu-registrationSignUp-registration__login,
.quiqqer-fu-registrationSignUp-registration__terms {
    display: flex;
    justify-content: center;
    position: relative;
}

.quiqqer-fu-registrationSignUp-registration__registration-view,
.quiqqer-fu-registrationSignUp-registration__login-view,
.quiqqer-fu-registrationSignUp-registration__terms-view {
    padding: var(--_registration-card-padding);
    width: 100%;
    overflow: hidden;
}

.quiqqer-fu-registrationSignUp-info {
    display: flex;
    align-items: center;
    align-self: stretch;
}

.quiqqer-fu-registrationSignUp-registration-logged-in {
    padding: 2rem;
}

.quiqqer-fu-registrationSignUp-registration-social {
    text-align: center;
    margin: 3rem 0;

    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.quiqqer-fu-registrationSignUp-registration-social-entry {
    border: 1px solid #ddd;
    border-radius: 100%;
    cursor: pointer;
    display: inline-block;
    height: 50px;
    line-height: 50px;
    margin: 0 0.25rem;
    text-align: center;
    width: 50px;
    vertical-align: middle;
}

.quiqqer-fu-registrationSignUp-registration-social-entry:hover {
    background: #adadad;
    color: #fff;
}

.quiqqer-fu-registrationSignUp .quiqqer-frontend-social-button {
    display: flex;
    align-content: center;
    justify-items: center;
    max-width: 400px;
    width: 100%;
}

.quiqqer-fu-registrationSignUp-registration-social-entry-control {
    display: none;
}

.quiqqer-fu-registrationSignUp-registration-social-entry-imageIcon {
    align-items: center;
    display: flex;
    height: 100%;
    justify-content: center;
    width: 100%;
}

.quiqqer-fu-registrationSignUp-registration-social-entry-imageIcon > span {
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    height: 70%;
    width: 70%;
}

.quiqqer-fu-registrationSignUp-registration-email {
    margin-top: 2rem;
    min-height: 140px;
    position: relative;
}

.quiqqer-fu-registrationSignUp-registration-email label {
    display: block;
    margin: 0.5rem auto;
    position: relative;
    max-width: 400px;
    width: 100%;
}

.quiqqer-fu-registrationSignUp-registration-email label .icon {
    align-items: center;
    display: flex;
    height: 100%;
    justify-content: center;
    position: absolute;
    width: 30px;
}

.quiqqer-fu-registrationSignUp-registration-email label .label {
    display: block;
    padding: 0.25rem 0;
    text-align: left;
    width: 100%;
}

.quiqqer-fu-registrationSignUp-registration-email label .field {
    display: block;
    position: relative;
}

.quiqqer-fu-registrationSignUp-registration-email label input {
    width: 100%;
    padding-left: 30px;
}

.quiqqer-fu-registrationSignUp-registration-redirect {
    display: block;
    margin-top: 20px;
}

.quiqqer-fu-registrationSignUp-registration-socialHeader,
.quiqqer-fu-registrationSignUp-registration-messageBetween {
    text-align: var(--_registration-card-text-align);
}


/** registration sign in
 ========================================== */

.quiqqer-fu-registrationSignUp-registration__terms-view {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
}

.quiqqer-fu-registrationSignUp-registration__terms-viewterms {
    position: relative;
}

.quiqqer-fu-registrationSignUp-registration__terms-view form {
    width: 100%;
    height: 46px;
}

.quiqqer-fu-registrationSignUp-terms-mail {
    width: 100%;
}

.quiqqer-fu-registrationSignUp-terms__btn-cancel {
    position: absolute;
    right: 0;
    top: 0;
    z-index: 10;
}

.quiqqer-fu-registrationSignUp-registration__terms-view label {
    cursor: pointer;
    max-width: 500px;
    width: 100%
}


/** registration sign in w email
 ========================================== */

.quiqqer-fu-registrationSignUp-email {
    max-width: 400px;
    position: relative;
    width: 100%;
}

.quiqqer-fu-registrationSignUp-email-buttons {
    flex-grow: 1;
    display: flex;
    align-content: center;
    justify-content: center;
    width: 100%;
}

.quiqqer-fu-registrationSignUp-email-passwordSection,
.quiqqer-fu-registrationSignUp-email-fullnameSection {
    display: none;
    position: absolute;
    width: 100%;
}

.quiqqer-fu-registrationSignUp-email-buttons [name="trial-account"] {
    margin-right: 0.5rem;
}

.quiqqer-fu-registrationSignUp .quiqqer-frontendUsers-pending {
    background: #e8fffe;
    border: 1px solid #4dc0b5;
    color: #0d3331;
    margin: 0 auto;
    max-width: 400px;
    padding: 2rem;
    width: 100%;
}

/** registration sign in w email
 ========================================== */

.quiqqer-fu-registrationSignUp-email-captcha-display {
    display: none;
}

.visible .quiqqer-fu-registrationSignUp-email-captcha-display {
    display: inline-block;
}

/** no script
 ========================================== */

.quiqqer-fu-registrationSignUp-registration-noscript .message-error {
    background: #fcebea;
    color: #cc1f1a;
    padding: 2rem;
}

/** mobile
 ========================================== */

@media (max-width: 768px) {
    .registration-sign-in {
        align-items: baseline;
        overflow: auto;
    }
}

/** messages
 ========================================== */

.quiqqer-fu-registrationSignUp-registration .message-success,
.quiqqer-fu-registrationSignUp-registration .message-error {
    padding: 2rem;
}

.quiqqer-fu-registrationSignUp-registration-nextlinks {
    margin: 10px 0 0 0 !important;
}

.quiqqer-fu-registrationSignUp-login-action,
.quiqqer-fu-registrationSignUp-resend-btn {
    margin-top: 20px;
}

.quiqqer-fu-registrationSignUp-resend-msg {
    margin-top: 10px;
}

/**
 * Status - container for messages after registration
 */
.quiqqer-fu-registrationSignUp-status {
    width: min(100%, 600px);
    margin-inline: auto;
}

/* content-message-* have float left... */
.quiqqer-fu-registrationSignUp-status .content-message-success,
.quiqqer-fu-registrationSignUp-status .content-message-error {
    float: none !important;
}