.quiqqer-fu-registrationSignUp {
    display: flex;
    justify-content: center;
    margin: 3rem 0;
    width: 100%;
}

.quiqqer-fu-registrationSignUp-info,
.quiqqer-fu-registrationSignUp-registration {
    padding: 2rem;
    position: relative;
    text-align: center;
    width: 40%;
}

.quiqqer-fu-registrationSignUp-info {
    text-align: left;
}

.quiqqer-fu-registrationSignUp-registration-logged-in {
    padding: 2rem;
}

.quiqqer-fu-registrationSignUp-registration-social {
    text-align: center;
    margin: 3rem 0;
}

.quiqqer-fu-registrationSignUp-registration-social-entry {
    border: 1px solid #ddd;
    border-radius: 100%;
    cursor: pointer;
    display: inline-block;
    height: 50px;
    line-height: 50px;
    margin: 0 0.25rem;
    text-align: center;
    width: 50px;
}

.quiqqer-fu-registrationSignUp-registration-social-entry:hover {
    background: #adadad;
    color: #fff;
}

.quiqqer-fu-registrationSignUp-registration-social-entry-control {
    display: none;
}

.quiqqer-fu-registrationSignUp-registration-email {
    margin-top: 3rem;
    min-height: 140px;
    position: relative;
}

.quiqqer-fu-registrationSignUp-registration-email label {
    clear: both;
    display: block;
    margin: 0.5rem auto;
    position: relative;
    max-width: 360px;
    width: 100%;
}

.quiqqer-fu-registrationSignUp-registration-email label .icon {
    align-items: center;
    display: flex;
    height: 100%;
    justify-content: center;
    position: absolute;
    width: 30px;
}

.quiqqer-fu-registrationSignUp-registration-email label .label {
    display: block;
    padding: 0.25rem 0;
    text-align: left;
    width: 100%;
}

.quiqqer-fu-registrationSignUp-registration-email label .field {
    display: block;
    position: relative;
}

.quiqqer-fu-registrationSignUp-registration-email label input {
    width: 100%;
    padding-left: 30px;
}


/** registration sign in
 ========================================== */

.quiqqer-fu-registrationSignUp-terms {
    align-items: center;
    display: none;
    flex-direction: column;
    font-size: 1.3rem;
    left: 0;
    height: 100%;
    justify-content: center;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 10;
}

.quiqqer-fu-registrationSignUp-terms-text {
    font-size: 16px;
    max-width: 570px;
    padding: 2rem;
}

.quiqqer-fu-registrationSignUp-terms-buttons {
    clear: both;
}

.quiqqer-fu-registrationSignUp-terms {
    position: relative;
}

.quiqqer-fu-registrationSignUp-terms button {
    display: inline-block;
    margin: 2rem auto;
}

.quiqqer-fu-registrationSignUp-terms-text {
    position: relative;
}

.quiqqer-fu-registrationSignUp-terms-text [name="decline"] {
    background: transparent;
    border: none;
    color: #606975;
    margin: 0;
    position: absolute;
    right: -20px;
    top: -20px;
    z-index: 10;
}

.quiqqer-fu-registrationSignUp-terms button[name="decline"]:hover {
    opacity: 0.5 !important;
}

.quiqqer-fu-registrationSignUp-terms label {
    cursor: pointer;
    max-width: 500px;
    width: 100%
}


/** registration sign in w email
 ========================================== */

.quiqqer-fu-registrationSignUp-email {
    max-width: 360px;
    position: relative;
    width: 100%;
}

.quiqqer-fu-registrationSignUp-email-buttons button {
    flex-grow: 1;
    margin-top: 0.5rem;
    padding: 0.75rem;
}

.quiqqer-fu-registrationSignUp-email-buttons {
    flex-grow: 1;
    display: flex;
    margin: 0 auto;
    max-width: 360px;
    width: 100%;
}

.quiqqer-fu-registrationSignUp-email-passwordSection {
    display: none;
    position: absolute;
    width: 100%;
}

.quiqqer-fu-registrationSignUp-email-buttons [name="trial-account"] {
    margin-right: 0.5rem;
}

.quiqqer-fu-registrationSignUp .quiqqer-frontendUsers-pending {
    background: #e8fffe;
    border: 1px solid #4dc0b5;
    color: #0d3331;
    margin: 0 auto;
    max-width: 400px;
    padding: 2rem;
    width: 100%;
}

/** registration sign in w email
 ========================================== */

.quiqqer-fu-registrationSignUp-email-captcha-display {
    display: none;
}

.visible .quiqqer-fu-registrationSignUp-email-captcha-display {
    display: inline-block;
}

/** no script
 ========================================== */

.quiqqer-fu-registrationSignUp-registration-noscript .message-error {
    background: #fcebea;
    color: #cc1f1a;
    padding: 2rem;
}

/** mobile
 ========================================== */

@media (max-width: 768px) {
    .registration-sign-in {
        align-items: baseline;
        overflow: auto;
    }

    .quiqqer-fu-registrationSignUp {
        flex-direction: column-reverse;
        justify-content: initial;
    }

    .quiqqer-fu-registrationSignUp-info,
    .quiqqer-fu-registrationSignUp-registration {
        width: 100%;
    }
}
