.quiqqer-frontendUsers-controls-registration {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
    gap: 0.5rem;
}

.quiqqer-frontendUsers-controls-registration .quiqqer-frontend-social-button {
    justify-content: center;
    text-align: center;
    width: 100%;
}

.quiqqer-frontendUsers-controls-registration-or {
    margin-block: 1rem;
    text-align: center;
    width: 100%;
    display: flex;
    gap: 1rem;
    align-items: center;
    color: var(--qui-colors-muted);
}

.quiqqer-frontendUsers-controls-registration-or-text {
}

.quiqqer-frontendUsers-controls-registration-or:before,
.quiqqer-frontendUsers-controls-registration-or:after {
    content: "";
    display: inline-block;
    height: 1px;
    width: 50%;
    flex-grow: 1;
    background-color: currentColor;
}

.quiqqer-frontendUsers-autoRedirect {
    margin-top: 10px;
}

.quiqqer-frontendUsers-controls-registration-locked {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 10;
    background: rgba(255, 255, 255, 0.7);
}

.quiqqer-frontendUsers-controls-registration-termsOfUse {
    width: 100%;
}

.quiqqer-frontendUsers-controls-registration-termsOfUse label {
    cursor: pointer;
    display: flex;
    gap: 1rem;
    align-items: flex-start;
    margin-top: 1rem;
    width: 100%;
}

.quiqqer-frontendUsers-controls-registration-nextlinks {
    margin: 10px 0 0 0 !important;
}