.quiqqer-frontendUsers-changepassword-error,
.quiqqer-frontendUsers-changepassword-success {
    display: none;
    margin-bottom: 1rem;
}

    .quiqqer-frontendUsers-controls-profile-changepassword input {
        float: left;
        width: 70%;
    }
