.quiqqer-frontendUsers-changepassword-error,
.quiqqer-frontendUsers-changepassword-success {
    display: none;
    margin-bottom: 20px;
}

@media screen and (min-width: 768px) {
    .quiqqer-frontendUsers-controls-profile-changepassword input {
        float: left;
        width: 70%;
    }
}