[data-hidden] {
    display: none;
}

.package-intranet-profile-birthday {
    display: grid;
    grid-template-columns: 2fr 3fr 2fr;
    gap: 1rem;
}

.quiqqer-frontendUsers-userdata-address-street-2-col {
    display: grid;
    grid-template-columns: 5fr 1fr;
    gap: 1rem;
}

.quiqqer-frontendUsers-controls-profile-userdata select[name="country"] {
    display: none;
}

.quiqqer-frontendUsers-controls-profile-userdata .qui-select {
    width: 100%;
}

.quiqqer-frontendUsers-controls-profile-userdata .qui-select .drop-icon {
    height: 36px;
}

.quiqqer-frontendUsers-userdata-email {
    display: grid;
    grid-template-columns: 1fr auto;
    gap: 1rem;
}

.quiqqer-frontendUsers-userdata-email-edit {
    text-align: center;
    width: 3em;
}

@media (max-width: 767px) {
    .quiqqer-frontendUsers-userdata-saveButton {
        width: 100%;
    }
}
