[data-hidden] {
    display: none;
}

.package-intranet-profile-birthday {
    display: grid;
    grid-template-columns: 2fr 3fr 2fr;
    gap: 1rem;
}

.quiqqer-frontendUsers-userdata-email {
    display: grid;
    grid-template-columns: 1fr auto;
    gap: 1rem;
}

.quiqqer-frontendUsers-userdata-email-edit {
    text-align: center;
    width: 3em;
}
