.quiqqer-frontendUsers-userAvatar-icon {
    background-color: #DEDEDE;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    font-size: 40px;
    height: 100px;
    overflow: hidden;
    position: relative;
    width: 100px;
}

.quiqqer-frontendUsers-userAvatar-icon-none {
    display: block;
}

.quiqqer-frontendUsers-userAvatar-upload {
    margin-top: 2rem;
}

.quiqqer-frontendUsers-userAvatar-upload h3 {
    font-size: 1.4rem;
}

.quiqqer-frontendUsers-userAvatar-upload-control {
    height: 30px;
    margin-bottom: 2rem;
}

.quiqqer-frontendUsers-userAvatar-gravatar-section {
    clear: both;
}

.quiqqer-frontendUsers-userAvatar-gravatar input {
    float: left;
}

@media screen and (max-width: 767px) {
    .quiqqer-frontendUsers-userAvatar-saveButton {
        width: 100%;
    }
}