<?xml version="1.0" encoding="UTF-8"?>
<events>
    <event on="onPackageInstall" fire="\QUI\FrontendUsers\Events::onPackageInstall"/>
    <event on="onPackageSetup" fire="\QUI\FrontendUsers\Events::onPackageSetup"/>

    <event on="onUserCreate" fire="\QUI\FrontendUsers\Events::onUserCreate"/>
    <event on="onUserActivate" fire="\QUI\FrontendUsers\Events::onUserActivate"/>
    <event on="onUserDelete" fire="\QUI\FrontendUsers\Events::onUserDelete"/>
    <event on="onTemplateGetHeader" fire="\QUI\FrontendUsers\Events::onTemplateGetHeader"/>

    <event on="onSiteInit" fire="\QUI\FrontendUsers\Events::onSiteInit"/>
    <event on="onSiteSave" fire="\QUI\FrontendUsers\Events::onSiteSave"/>
    <event on="onQuiqqer::template::header::end" fire="\QUI\FrontendUsers\Events::onTemplateEnd"/>
</events>