includes:
    - phpstan-baseline.neon

parameters:
    level: 8
    phpVersion:
        min: 80200
        max: 80509
    paths:
        - src
        - ajax
        - types
    bootstrapFiles:
        - tests/phpstan-bootstrap.php
    tipsOfTheDay: false
