parameters:
	ignoreErrors:
		-
			message: "#^Call to an undefined method QUI\\\\FrontendUsers\\\\Controls\\\\Profile\\\\ControlInterface\\:\\:setAttribute\\(\\)\\.$#"
			count: 1
			path: ajax/frontend/profile/save.php

		-
			message: "#^Negated boolean expression is always true\\.$#"
			count: 1
			path: src/QUI/FrontendUsers/Console/SendUserMails.php

		-
			message: "#^Variable \\$Authenticator in PHPDoc tag @var does not exist\\.$#"
			count: 1
			path: src/QUI/FrontendUsers/Controls/Login.php

		-
			message: "#^Call to an undefined method QUI\\\\FrontendUsers\\\\Controls\\\\Profile\\\\ControlInterface\\:\\:setAttribute\\(\\)\\.$#"
			count: 1
			path: src/QUI/FrontendUsers/Controls/Profile.php

		-
			message: "#^Parameter \\#1 \\$maxWidth of method QUI\\\\Projects\\\\Media\\\\ExternalImage\\:\\:getSizeCacheUrl\\(\\) expects bool, int given\\.$#"
			count: 1
			path: src/QUI/FrontendUsers/Controls/Profile/UserAvatar.php

		-
			message: "#^Parameter \\#2 \\$maxHeight of method QUI\\\\Projects\\\\Media\\\\ExternalImage\\:\\:getSizeCacheUrl\\(\\) expects bool, int given\\.$#"
			count: 1
			path: src/QUI/FrontendUsers/Controls/Profile/UserAvatar.php

		-
			message: "#^Call to an undefined method QUI\\\\Interfaces\\\\Projects\\\\Media\\\\File\\:\\:setTitle\\(\\)\\.$#"
			count: 1
			path: src/QUI/FrontendUsers/Controls/Profile/UserAvatarUpload.php

		-
			message: "#^Parameter \\#1 \\$User of method QUI\\\\FrontendUsers\\\\Handler\\:\\:sendChangeEmailAddressMail\\(\\) expects QUI\\\\Users\\\\User, QUI\\\\Interfaces\\\\Users\\\\User given\\.$#"
			count: 1
			path: src/QUI/FrontendUsers/Controls/Profile/UserData.php

		-
			message: "#^Parameter \\#1 \\$maxWidth of method QUI\\\\Projects\\\\Media\\\\ExternalImage\\:\\:getSizeCacheUrl\\(\\) expects bool, int given\\.$#"
			count: 1
			path: src/QUI/FrontendUsers/Controls/UserIcon.php

		-
			message: "#^Parameter \\#2 \\$maxHeight of method QUI\\\\Projects\\\\Media\\\\ExternalImage\\:\\:getSizeCacheUrl\\(\\) expects bool, int given\\.$#"
			count: 1
			path: src/QUI/FrontendUsers/Controls/UserIcon.php

		-
			message: "#^Call to an undefined method QUI\\\\Interfaces\\\\Projects\\\\Site\\:\\:getLocation\\(\\)\\.$#"
			count: 1
			path: src/QUI/FrontendUsers/Events.php
