<?xml version="1.0" encoding="UTF-8"?>
<quiqqer>
    <settings>

        <config>

            <section name="profileBar">
                <conf name="showLogin">
                    <type><![CDATA[bool]]></type>
                    <defaultvalue>1</defaultvalue>
                </conf>
                <conf name="showRegistration">
                    <type><![CDATA[bool]]></type>
                    <defaultvalue>1</defaultvalue>
                </conf>
                <conf name="showToProfile">
                    <type><![CDATA[bool]]></type>
                    <defaultvalue>0</defaultvalue>
                </conf>
                <conf name="defaultAvatar">
                    <type><![CDATA[string]]></type>
                </conf>
            </section>

            <section name="userProfile">
                <conf name="categoryViewDefaultPermission">
                    <type><![CDATA[bool]]></type>
                    <defaultvalue>0</defaultvalue>
                </conf>
                <conf name="userDeleteMode">
                    <type><![CDATA[string]]></type>
                    <defaultvalue><![CDATA[delete]]></defaultvalue>
                </conf>
                <conf name="useGravatar">
                    <type><![CDATA[bool]]></type>
                    <defaultvalue>0</defaultvalue>
                </conf>
                <conf name="useGravatarUserDefaultValue">
                    <type><![CDATA[bool]]></type>
                    <defaultvalue>0</defaultvalue>
                </conf>
                <conf name="useAddressManagement">
                    <type><![CDATA[bool]]></type>
                    <defaultvalue>1</defaultvalue>
                </conf>
                <conf name="showLanguageChangeInProfile">
                    <type><![CDATA[bool]]></type>
                    <defaultvalue><![CDATA[1]]></defaultvalue>
                </conf>
                <conf name="userAvatarFolder">
                    <type><![CDATA[string]]></type>
                </conf>
                <conf name="userAvatarUploadAllowed">
                    <type><![CDATA[bool]]></type>
                    <defaultvalue>1</defaultvalue>
                </conf>
                <conf name="maxAvatarUploadSize">
                    <type><![CDATA[int]]></type>
                    <defaultvalue>500000</defaultvalue>
                </conf>
                <conf name="maxAvatarUploadHeight">
                    <type><![CDATA[int]]></type>
                    <defaultvalue>200</defaultvalue>
                </conf>
                <conf name="maxAvatarUploadWidth">
                    <type><![CDATA[int]]></type>
                    <defaultvalue>200</defaultvalue>
                </conf>
            </section>

            <section name="disable">
                <conf name="hashLifetime">
                    <type><![CDATA[int]]></type>
                    <defaultvalue>3600</defaultvalue>
                </conf>
            </section>

            <section name="registration">
                <conf name="userActivation">
                    <type><![CDATA[bool]]></type>
                    <defaultvalue>1</defaultvalue>
                </conf>
                <conf name="autoLoginOnActivation">
                    <type><![CDATA[bool]]></type>
                    <defaultvalue>1</defaultvalue>
                </conf>
                <conf name="defaultGroups">
                    <type><![CDATA[string]]></type>
                </conf>
                <conf name="sendInfoMailOnRegistrationTo">
                    <type><![CDATA[String]]></type>
                </conf>
                <conf name="mailFromText">
                    <type><![CDATA[string]]></type>
                    <defaultvalue><![CDATA[QUIQQER System]]></defaultvalue>
                </conf>
                <conf name="mailFromAddress">
                    <type><![CDATA[string]]></type>
                </conf>
                <conf name="visitRegistrationSiteBehaviour">
                    <type><![CDATA[string]]></type>
                    <defaultvalue><![CDATA[showProfile]]></defaultvalue>
                </conf>
                <conf name="usernameInput">
                    <type><![CDATA[string]]></type>
                    <defaultvalue><![CDATA[none]]></defaultvalue>
                </conf>
                <conf name="fullnameInput">
                    <type><![CDATA[string]]></type>
                    <defaultvalue><![CDATA[none]]></defaultvalue>
                </conf>
                <conf name="addressInput">
                    <type><![CDATA[bool]]></type>
                    <defaultvalue>1</defaultvalue>
                </conf>
                <conf name="userWelcomeMail">
                    <type><![CDATA[bool]]></type>
                    <defaultvalue>1</defaultvalue>
                </conf>
                <conf name="autoRedirectOnSuccess">
                    <type><![CDATA[string]]></type>
                </conf>
                <conf name="addressFields">
                    <type><![CDATA[string]]></type>
                </conf>
                <conf name="passwordInput">
                    <type><![CDATA[string]]></type>
                    <defaultvalue>default</defaultvalue>
                </conf>
                <conf name="sendPassword">
                    <type><![CDATA[bool]]></type>
                    <defaultvalue>0</defaultvalue>
                </conf>
                <conf name="forcePasswordReset">
                    <type><![CDATA[bool]]></type>
                    <defaultvalue>0</defaultvalue>
                </conf>
                <conf name="useCaptcha">
                    <type><![CDATA[bool]]></type>
                    <defaultvalue>0</defaultvalue>
                </conf>
                <conf name="deleteInactiveUserAfterDays">
                    <type><![CDATA[integer]]></type>
                    <defaultvalue>3</defaultvalue>
                </conf>
                <conf name="termsOfUseRequired">
                    <type><![CDATA[bool]]></type>
                    <defaultvalue>0</defaultvalue>
                </conf>
                <conf name="termsOfUseSite">
                    <type><![CDATA[string]]></type>
                </conf>
                <conf name="privacyPolicySite">
                    <type><![CDATA[string]]></type>
                </conf>
            </section>

            <section name="profile">
                <conf name="addressFields">
                    <type><![CDATA[string]]></type>
                </conf>
            </section>

            <section name="registrars">
                <conf name="registrarSettings">
                    <type><![CDATA[String]]></type>
                </conf>
            </section>

            <section name="login">
                <conf name="redirectOnLogin">
                    <type><![CDATA[String]]></type>
                </conf>
                <conf name="authenticators">
                    <type><![CDATA[String]]></type>
                </conf>
            </section>

            <section name="mail">
                <conf name="mailFromText">
                    <type><![CDATA[string]]></type>
                </conf>
                <conf name="mailFromAddress">
                    <type><![CDATA[string]]></type>
                </conf>
                <conf name="verificationValidityDuration">
                    <type><![CDATA[string]]></type>
                    <defaultvalue>1440</defaultvalue>
                </conf>
            </section>
        </config>

        <window>
            <title>
                <locale group="quiqqer/frontend-users" var="menu.title"/>
            </title>
            <params>
                <icon>fa fa-cogs</icon>
            </params>

            <categories>

                <category name="userProfile">
                    <text>
                        <locale group="quiqqer/frontend-users" var="settings.category.userProfile.title"/>
                    </text>
                    <icon>fa fa-user</icon>

                    <settings title="profileBar_section" name="profileBar_section">
                        <title>
                            <locale group="quiqqer/frontend-users" var="settings.section.profileBar.title"/>
                        </title>

                        <input conf="profileBar.showLogin" type="checkbox">
                            <text>
                                <locale group="quiqqer/frontend-users" var="settings.showLogin.title"/>
                            </text>
                            <description>
                                <locale group="quiqqer/frontend-users" var="settings.showLogin.description"/>
                            </description>
                        </input>

                        <input conf="profileBar.showRegistration" type="checkbox">
                            <text>
                                <locale group="quiqqer/frontend-users" var="settings.showRegistration.title"/>
                            </text>
                            <description>
                                <locale group="quiqqer/frontend-users" var="settings.showRegistration.description"/>
                            </description>
                        </input>

                        <input conf="profileBar.showToProfile" type="checkbox">
                            <text>
                                <locale group="quiqqer/frontend-users" var="settings.showToProfile.title"/>
                            </text>
                            <description>
                                <locale group="quiqqer/frontend-users" var="settings.showToProfile.description"/>
                            </description>
                        </input>
                    </settings>

                    <settings title="user_avatar_section" name="user_avatar_section">
                        <title>
                            <locale group="quiqqer/frontend-users" var="settings.section.userAccount.avatar.title"/>
                        </title>

                        <input conf="profileBar.defaultAvatar" type="string"
                               data-qui="controls/projects/project/media/Input"
                               data-qui-options-cssclasses="1"
                        >
                            <text>
                                <locale group="quiqqer/frontend-users" var="settings.defaultAvatar.title"/>
                            </text>
                            <description>
                                <locale group="quiqqer/frontend-users" var="settings.defaultAvatar.description"/>
                            </description>
                        </input>

                        <input conf="userProfile.userAvatarUploadAllowed" type="checkbox">
                            <text>
                                <locale group="quiqqer/frontend-users" var="settings.userAvatarUploadAllowed.title"/>
                            </text>
                            <description>
                                <locale group="quiqqer/frontend-users"
                                        var="settings.userAvatarUploadAllowed.description"/>
                            </description>
                        </input>

                        <input conf="userProfile.maxAvatarUploadSize"
                               data-qui="controls/projects/project/settings/FileFormat"
                               type="number"
                        >
                            <text>
                                <locale group="quiqqer/frontend-users" var="settings.maxAvatarUploadSize.title"/>
                            </text>
                            <description>
                                <locale group="quiqqer/frontend-users"
                                        var="settings.maxAvatarUploadSize.description"/>
                            </description>
                        </input>

                        <input conf="userProfile.maxAvatarUploadHeight">
                            <text>
                                <locale group="quiqqer/frontend-users" var="settings.maxAvatarUploadHeight.title"/>
                            </text>
                            <description>
                                <locale group="quiqqer/frontend-users"
                                        var="settings.maxAvatarUploadHeight.description"/>
                            </description>
                        </input>

                        <input conf="userProfile.maxAvatarUploadWidth">
                            <text>
                                <locale group="quiqqer/frontend-users" var="settings.maxAvatarUploadWidth.title"/>
                            </text>
                            <description>
                                <locale group="quiqqer/frontend-users"
                                        var="settings.maxAvatarUploadWidth.description"/>
                            </description>
                        </input>

                        <input conf="userProfile.useGravatar" type="checkbox">
                            <text>
                                <locale group="quiqqer/frontend-users" var="settings.useGravatar.title"/>
                            </text>
                            <description>
                                <locale group="quiqqer/frontend-users" var="settings.useGravatar.description"/>
                            </description>
                        </input>

                        <input conf="userProfile.useGravatarUserDefaultValue" type="checkbox">
                            <text>
                                <locale group="quiqqer/frontend-users"
                                        var="settings.useGravatarUserDefaultValue.title"/>
                            </text>
                            <description>
                                <locale group="quiqqer/frontend-users"
                                        var="settings.useGravatarUserDefaultValue.description"/>
                            </description>
                        </input>

                    </settings>

                    <settings title="user_account_section" name="user_account_section">
                        <title>
                            <locale group="quiqqer/frontend-users" var="settings.section.userAccount.title"/>
                        </title>

                        <input conf="userProfile.categoryViewDefaultPermission" type="checkbox">
                            <text>
                                <locale group="quiqqer/frontend-users"
                                        var="settings.categoryViewDefaultPermission.title"/>
                            </text>
                            <description>
                                <locale group="quiqqer/frontend-users"
                                        var="settings.categoryViewDefaultPermission.description"/>
                            </description>
                        </input>

                        <input conf="userProfile.useAddressManagement" type="checkbox">
                            <text>
                                <locale group="quiqqer/frontend-users" var="settings.useAddressManagement.title"/>
                            </text>
                            <description>
                                <locale group="quiqqer/frontend-users" var="settings.useAddressManagement.description"/>
                            </description>
                        </input>

                        <select conf="userProfile.userDeleteMode">
                            <text>
                                <locale group="quiqqer/frontend-users" var="settings.userDeleteMode.title"/>
                            </text>
                            <description>
                                <locale group="quiqqer/frontend-users" var="settings.userDeleteMode.description"/>
                            </description>
                            <option value="delete">
                                <locale group="quiqqer/frontend-users" var="settings.userDeleteMode.option.delete"/>
                            </option>
                            <option value="wipe">
                                <locale group="quiqqer/frontend-users" var="settings.userDeleteMode.option.wipe"/>
                            </option>
                            <option value="destroy">
                                <locale group="quiqqer/frontend-users" var="settings.userDeleteMode.option.destroy"/>
                            </option>
                        </select>
                    </settings>

                </category>

                <category name="login">
                    <text>
                        <locale group="quiqqer/frontend-users" var="settings.category.login.title"/>
                    </text>
                    <icon>fa fa-sign-in</icon>

                    <settings title="login_section" name="login_section">
                        <title>
                            <locale group="quiqqer/frontend-users" var="settings.section.login.title"/>
                        </title>

                        <input conf="login.redirectOnLogin" type="text"
                               data-qui="controls/projects/project/site/MultiLangSelect">
                            <text>
                                <locale group="quiqqer/frontend-users" var="settings.redirectOnLogin.title"/>
                            </text>
                            <description>
                                <locale group="quiqqer/frontend-users" var="settings.redirectOnLogin.description"/>
                            </description>
                        </input>

                        <input conf="login.authenticators" type="text"
                               data-qui="package/quiqqer/frontend-users/bin/controls/settings/Authenticators">
                            <text>
                                <locale group="quiqqer/frontend-users" var="settings.authenticators.title"/>
                            </text>
                            <description>
                                <locale group="quiqqer/frontend-users" var="settings.authenticators.description"/>
                            </description>
                        </input>

                    </settings>
                </category>

                <category name="registration">
                    <text>
                        <locale group="quiqqer/frontend-users" var="settings.category.registration.title"/>
                    </text>
                    <icon>fa fa-cogs</icon>

                    <settings title="registration_section" name="registration_section">
                        <title>
                            <locale group="quiqqer/frontend-users" var="settings.section.registration.title"/>
                        </title>

                        <input conf="registration.defaultGroups" type="text" data-qui="controls/groups/Select">
                            <text>
                                <locale group="quiqqer/frontend-users" var="settings.defaultGroups.title"/>
                            </text>
                            <description>
                                <locale group="quiqqer/frontend-users" var="settings.defaultGroups.description"/>
                            </description>
                        </input>

                        <input conf="registration.sendInfoMailOnRegistrationTo" type="text"
                               data-qui="controls/email/Select">
                            <text>
                                <locale group="quiqqer/frontend-users"
                                        var="settings.sendInfoMailOnRegistrationTo.title"/>
                            </text>
                            <description>
                                <locale group="quiqqer/frontend-users"
                                        var="settings.sendInfoMailOnRegistrationTo.description"/>
                            </description>
                        </input>

                        <select conf="registration.usernameInput">
                            <text>
                                <locale group="quiqqer/frontend-users" var="settings.usernameInput.title"/>
                            </text>
                            <description>
                                <locale group="quiqqer/frontend-users" var="settings.usernameInput.description"/>
                            </description>
                            <option value="none">
                                <locale group="quiqqer/frontend-users" var="settings.usernameInput.option.none"/>
                            </option>
                            <option value="optional">
                                <locale group="quiqqer/frontend-users" var="settings.usernameInput.option.optional"/>
                            </option>
                            <option value="required">
                                <locale group="quiqqer/frontend-users" var="settings.usernameInput.option.required"/>
                            </option>
                        </select>

                        <select conf="registration.fullnameInput">
                            <text>
                                <locale group="quiqqer/frontend-users" var="settings.fullnameInput.title"/>
                            </text>
                            <description>
                                <locale group="quiqqer/frontend-users" var="settings.fullnameInput.description"/>
                            </description>
                            <option value="none">
                                <locale group="quiqqer/frontend-users" var="settings.fullnameInput.option.none"/>
                            </option>
                            <option value="firstname_optional">
                                <locale group="quiqqer/frontend-users"
                                        var="settings.fullnameInput.option.firstname_optional"/>
                            </option>
                            <option value="firstname_required">
                                <locale group="quiqqer/frontend-users"
                                        var="settings.fullnameInput.option.firstname_required"/>
                            </option>
                            <option value="fullname_optional">
                                <locale group="quiqqer/frontend-users"
                                        var="settings.fullnameInput.option.fullname_optional"/>
                            </option>
                            <option value="fullname_required">
                                <locale group="quiqqer/frontend-users"
                                        var="settings.fullnameInput.option.fullname_required"/>
                            </option>
                        </select>

                        <select conf="registration.passwordInput">
                            <text>
                                <locale group="quiqqer/frontend-users" var="settings.passwordInput.title"/>
                            </text>
                            <description>
                                <locale group="quiqqer/frontend-users" var="settings.passwordInput.description"/>
                            </description>
                            <option value="default">
                                <locale group="quiqqer/frontend-users" var="settings.passwordInput.option.default"/>
                            </option>
                            <option value="validation">
                                <locale group="quiqqer/frontend-users" var="settings.passwordInput.option.validation"/>
                            </option>
                            <option value="none">
                                <locale group="quiqqer/frontend-users" var="settings.passwordInput.option.none"/>
                            </option>
                        </select>

                        <input conf="registration.sendPassword" type="checkbox">
                            <text>
                                <locale group="quiqqer/frontend-users" var="settings.sendPassword.title"/>
                            </text>
                            <description>
                                <locale group="quiqqer/frontend-users" var="settings.sendPassword.description"/>
                            </description>
                        </input>

                        <input conf="registration.forcePasswordReset" type="checkbox">
                            <text>
                                <locale group="quiqqer/frontend-users" var="settings.forcePasswordReset.title"/>
                            </text>
                            <description>
                                <locale group="quiqqer/frontend-users" var="settings.forcePasswordReset.description"/>
                            </description>
                        </input>

                        <input conf="registration.userWelcomeMail" type="checkbox">
                            <text>
                                <locale group="quiqqer/frontend-users" var="settings.userWelcomeMail.title"/>
                            </text>
                            <description>
                                <locale group="quiqqer/frontend-users" var="settings.userWelcomeMail.description"/>
                            </description>
                        </input>

                        <input conf="registration.autoLoginOnActivation" type="checkbox">
                            <text>
                                <locale group="quiqqer/frontend-users" var="settings.autoLoginOnActivation.title"/>
                            </text>
                            <description>
                                <locale group="quiqqer/frontend-users"
                                        var="settings.autoLoginOnActivation.description"/>
                            </description>
                        </input>

                        <select conf="registration.visitRegistrationSiteBehaviour">
                            <text>
                                <locale group="quiqqer/frontend-users"
                                        var="settings.visitRegistrationSiteBehaviour.title"/>
                            </text>
                            <description>
                                <locale group="quiqqer/frontend-users"
                                        var="settings.visitRegistrationSiteBehaviour.description"/>
                            </description>
                            <option value="nothing">
                                <locale group="quiqqer/frontend-users"
                                        var="settings.visitRegistrationSiteBehaviour.option.nothing"/>
                            </option>
                            <option value="showProfile">
                                <locale group="quiqqer/frontend-users"
                                        var="settings.visitRegistrationSiteBehaviour.option.showProfile"/>
                            </option>
                            <option value="showMessage">
                                <locale group="quiqqer/frontend-users"
                                        var="settings.visitRegistrationSiteBehaviour.option.showMessage"/>
                            </option>
                        </select>

                        <input type="checkbox" conf="userProfile.showLanguageChangeInProfile">
                            <text>
                                <locale group="quiqqer/frontend-users" var="settings.showLanguageChangeInProfile"/>
                            </text>
                            <description>
                                <locale group="quiqqer/frontend-users"
                                        var="settings.showLanguageChangeInProfile.description"/>
                            </description>
                        </input>

                        <input conf="registration.autoRedirectOnSuccess" type="text"
                               data-qui="controls/projects/project/site/MultiLangSelect">
                            <text>
                                <locale group="quiqqer/frontend-users" var="settings.autoRedirectOnSuccess.title"/>
                            </text>
                            <description>
                                <locale group="quiqqer/frontend-users"
                                        var="settings.autoRedirectOnSuccess.description"/>
                            </description>
                        </input>

                        <input conf="registration.useCaptcha" type="checkbox">
                            <text>
                                <locale group="quiqqer/frontend-users" var="settings.useCaptcha.title"/>
                            </text>
                            <description>
                                <locale group="quiqqer/frontend-users" var="settings.useCaptcha.description"/>
                            </description>
                        </input>

                        <input conf="registration.deleteInactiveUserAfterDays" type="number">
                            <text>
                                <locale group="quiqqer/frontend-users"
                                        var="settings.deleteInactiveUserAfterDays.title"/>
                            </text>
                            <description>
                                <locale group="quiqqer/frontend-users"
                                        var="settings.deleteInactiveUserAfterDays.description"/>
                            </description>
                        </input>

                        <input conf="registration.termsOfUseRequired" type="checkbox">
                            <text>
                                <locale group="quiqqer/frontend-users" var="settings.termsOfUseRequired.title"/>
                            </text>
                            <description>
                                <locale group="quiqqer/frontend-users" var="settings.termsOfUseRequired.description"/>
                            </description>
                        </input>

                        <input conf="registration.termsOfUseSite" type="text"
                               data-qui="controls/projects/project/site/MultiLangSelect">
                            <text>
                                <locale group="quiqqer/frontend-users" var="settings.termsOfUseSite.title"/>
                            </text>
                            <description>
                                <locale group="quiqqer/frontend-users" var="settings.termsOfUseSite.description"/>
                            </description>
                        </input>

                        <input conf="registration.privacyPolicySite" type="text"
                               data-qui="controls/projects/project/site/MultiLangSelect">
                            <text>
                                <locale group="quiqqer/frontend-users" var="settings.privacyPolicySite.title"/>
                            </text>
                            <description>
                                <locale group="quiqqer/frontend-users" var="settings.privacyPolicySite.description"/>
                            </description>
                        </input>

                    </settings>
                </category>

                <category name="registrationAddress">
                    <text>
                        <locale group="quiqqer/frontend-users" var="settings.category.registrationAddress.title"/>
                    </text>
                    <icon>fa fa-address-card-o</icon>

                    <settings title="registrationAddress_section" name="registrationAddress_section">
                        <title>
                            <locale group="quiqqer/frontend-users" var="settings.section.registrationAddress.title"/>
                        </title>

                        <input conf="registration.addressInput" type="checkbox">
                            <text>
                                <locale group="quiqqer/frontend-users" var="settings.addressInput.title"/>
                            </text>
                            <description>
                                <locale group="quiqqer/frontend-users" var="settings.addressInput.description"/>
                            </description>
                        </input>

                        <input conf="registration.addressFields" type="text"
                               data-qui="package/quiqqer/frontend-users/bin/controls/settings/AddressFields"
                               label="false">
                            <text>
                                <locale group="quiqqer/frontend-users" var="settings.addressFields.title"/>
                            </text>
                        </input>

                    </settings>

                    <settings title="profileAddress_section" name="profileAddress_section">
                        <title>
                            <locale group="quiqqer/frontend-users" var="settings.section.profileAddress.title"/>
                        </title>

                        <input conf="profile.addressFields" type="text"
                               data-qui="package/quiqqer/frontend-users/bin/controls/settings/AddressFields"
                               label="false"
                        >
                            <text>
                                <locale group="quiqqer/frontend-users" var="settings.addressFields.title"/>
                            </text>
                        </input>

                    </settings>
                </category>

                <category name="registrars">
                    <text>
                        <locale group="quiqqer/frontend-users" var="settings.category.registrars.title"/>
                    </text>
                    <icon>fa fa-user-plus</icon>

                    <settings title="registrars_section" name="registrars_section">
                        <title>
                            <locale group="quiqqer/frontend-users" var="settings.section.registrars.title"/>
                        </title>

                        <input conf="registrars.registrarSettings" type="text"
                               data-qui="package/quiqqer/frontend-users/bin/controls/settings/Registrars" label="false">
                            <text>
                                <locale group="quiqqer/frontend-users" var="settings.registrarSettings.title"/>
                            </text>
                        </input>

                    </settings>
                </category>

                <category name="mail">
                    <text>
                        <locale group="quiqqer/frontend-users" var="settings.category.mail.title"/>
                    </text>
                    <icon>fa fa-envelope</icon>

                    <settings title="verification_mails_section" name="verification_mails_section">
                        <title>
                            <locale group="quiqqer/frontend-users" var="settings.section.verification_mails.title"/>
                        </title>

                        <input conf="mail.verificationValidityDuration" type="number">
                            <text>
                                <locale group="quiqqer/frontend-users"
                                        var="settings.verificationValidityDuration.title"/>
                            </text>
                            <description>
                                <locale group="quiqqer/frontend-users"
                                        var="settings.verificationValidityDuration.description"/>
                            </description>
                        </input>

                    </settings>

                    <settings title="mail_section" name="mail_section">
                        <title>
                            <locale group="quiqqer/frontend-users" var="settings.section.mail.title"/>
                        </title>

                        <input conf="mail.mailFromText" type="text">
                            <text>
                                <locale group="quiqqer/frontend-users" var="settings.mailFromText.title"/>
                            </text>
                            <description>
                                <locale group="quiqqer/frontend-users" var="settings.mailFromText.description"/>
                            </description>
                        </input>

                        <input conf="mail.mailFromAddress" type="email">
                            <text>
                                <locale group="quiqqer/frontend-users" var="settings.mailFromAddress.title"/>
                            </text>
                            <description>
                                <locale group="quiqqer/frontend-users" var="settings.mailFromAddress.description"/>
                            </description>
                        </input>

                    </settings>

                </category>

            </categories>
        </window>

    </settings>
</quiqqer>
