.quiqqer-registration section {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    margin-bottom: 1rem;
}

.quiqqer-registration fieldset {
    border: none;
    padding: 0;
}

.quiqqer-registration fieldset input {
    margin-bottom: 0;
}

.quiqqer-registration label {
    display: flex;
    flex-direction: column;
}

.quiqqer-registration-field-title {
    font-size: 0.9rem;
    line-height: 1rem;
}

.quiqqer-registration-submit button {
    text-align: center;
    justify-content: center;
    width: 100%;
}

.quiqqer-registration button[disabled] {
    cursor: not-allowed;
}

.quiqqer-registration .qui-utils-passwordsecurity {
    border-radius: 5px;
    width: 100% !important;
}
