.quiqqer-registration {
    float: left;
    width: 100%;
}

.quiqqer-registration fieldset {
    border: none;
    margin-bottom: 10px;
}

.quiqqer-registration label,
.quiqqer-registration fieldset {
    float: left;
    width: 100%;
}

.quiqqer-registration-field-title {
    float: left;
    width: 40%;
}

.quiqqer-registration-field-element {
    float: left;
    width: 60%;
}

.quiqqer-registration-field-error-msg {
    color: #1b0061;
    padding-left:40%;
    width: 100%;
}

.quiqqer-registration-field-error {
    box-shadow: 0 0 0 2px #ff0000;
}

.quiqqer-registration-address__hidden {
    display: none;
}

.quiqqer-registration-address {
    float: left;
}