.quiqqer-frontendUsers-frontendlogin-resend-btn {
    margin-top: 10px;
    float: left;
    width: 100%;
}

.quiqqer-frontendUsers-frontendlogin-resend-msg {
    font-weight: 900;
    float: left;
    width: 100%;
}