.quiqqer-frontendUsers-controls-registration {
    display: inline-block;
    position: relative;
    width: 100%;
}

.quiqqer-frontendUsers-controls-registration-registrar {
    display: inline-block;
    position: relative;
    width: 100%;
}

.quiqqer-frontendUsers-controls-registration-or {
    border-top: 1px solid #CFD2D2;
    clear: both;
    color: #CFD2D2;
    float: left;
    line-height: 30px;
    margin: 2rem 0 1.5rem;
    text-align: center;
    position: relative;
    height: 10px;
    width: 100%;
}

.quiqqer-frontendUsers-controls-registration-or-text {
    background: #fff;
    color: #666666;
    font-size: 16px;
    line-height: 30px;
    padding: 0 10px;
    position: relative;
    text-align: center;
    top: -15px;
}

.quiqqer-frontendUsers-controls-registration .quiqqer-frontend-social-button {
    width: 100%;
}

.quiqqer-registration-trial-registrar-submit button {
    width: 100%;
}

.quiqqer-frontendUsers-autoRedirect {
    margin-top: 10px;
}

.quiqqer-frontendUsers-controls-registration-locked {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 10;
    background: rgba(255, 255, 255, 0.7);
}

.quiqqer-frontendUsers-controls-registration-termsOfUse {
    display: inline-block;
    margin: 1rem 0;
    width: 100%;
}

.quiqqer-frontendUsers-controls-registration-termsOfUse label {
    cursor: pointer;
    display: inline-block;
    width: 100%;
}

.quiqqer-frontendUsers-controls-registration-termsOfUse label > input {
    float: left;
}

.quiqqer-frontendUsers-controls-registration-termsOfUse label > span {
    float: left;
    width: calc(100% - 30px);
}

.quiqqer-frontendUsers-controls-registration-nextlinks {
    margin: 10px 0 0 0 !important;
}
