.quiqqer-frontendUsers-manager,
.quiqqer-frontend-users-address {
    position: relative;
    width: 100%;
}

.quiqqer-frontend-users-address-description {
    margin-bottom: 1rem;
}

.quiqqer-frontend-users-address-description-text {
    width: 100%;
}

.quiqqer-frontend-users-address-description-button {
    margin-top: 1rem;
}

@media screen and (min-width: 768px) {
    .quiqqer-frontend-users-address-description-button {
        margin-left: auto;
    }
}

@media screen and (max-width: 767px) {
    .quiqqer-frontend-users-address-description-button {
        width: 100%;
    }
}

/** container
 ================================================== */

/*.quiqqer-frontend-users-address-container {*/
/*    background: #fff;*/
/*    border: 1px solid #dedede;*/
/*    height: 100%;*/
/*    left: -50px;*/
/*    outline: none;*/
/*    opacity: 0;*/
/*    position: absolute;*/
/*    top: 0;*/
/*    width: 100%;*/
/*}*/

/*.quiqqer-frontend-users-address-container-close {*/
/*    cursor: pointer;*/
/*    font-size: 20px;*/
/*    line-height: 40px;*/
/*    position: absolute;*/
/*    right: 0;*/
/*    text-align: center;*/
/*    top: 0;*/
/*    width: 40px;*/
/*}*/

/*.quiqqer-frontend-users-address-container-header {*/
/*    padding: 20px 40px 0 20px;*/
/*    width: 100%;*/
/*}*/

/*.quiqqer-frontend-users-address-container-header header {*/
/*    font-size: 22px;*/
/*    padding: 0;*/
/*}*/

/*.quiqqer-frontend-users-address-container-header header h1 {*/
/*    font-size: 22px;*/
/*}*/

/*.quiqqer-frontend-users-address-container-content {*/
/*    height: calc(100% - 40px);*/
/*    margin-top: 40px;*/
/*    overflow: auto;*/
/*    width: 100%;*/
/*}*/

/** Address listing
 ================================================== */
.quiqqer-frontend-users-address-list {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
}

.quiqqer-frontend-users-address-list-entry {
    --_padding: 0.5rem 1rem;
    --_radius: var(--radius, var(--_qui-frontend-users-profile-controls__radius));
    --_border: 1px solid #ddd;
    --_bg: var(--bg, var(--_qui-frontend-users-profile-controls__bg-color));

    min-width: 0;
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    font-size: 0.875rem;
    border: var(--_border);
}

.quiqqer-frontend-users-address-list-entry [type="radio"] {
    float: right;
    margin: 7px;
}

.quiqqer-frontend-users-address-list-entry header {
    padding: var(--_padding);
    border-bottom: var(--_border);
    font-weight: bold;
    background: var(--_bg);
}

.quiqqer-frontend-users-address-list-entry header label {
    margin: 0;
    padding: 0;
}

.quiqqer-frontend-users-address-list-entry address {
    flex-grow: 1;
    padding: var(--_padding);
    font-style: normal;
    font-size: 0.875rem;
    line-height: 1.5;
}

.quiqqer-frontend-users-address-list-entry address .adr:not(:last-child) {
    margin-bottom: 0.5em;
}

.quiqqer-frontend-users-address-list-entry address .fa {
    width: 1.5rem;
}

.quiqqer-frontend-users-address-list-entry-buttons {
    text-align: right;
    border-top: var(--_border);
    padding: 0.5rem 1rem;
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
}

/******************/
/* Address delete */
/******************/
.quiqqer-frontend-users-address-delete {
    margin: 0 auto;
    max-width: 600px;
    width: 100%;
}

.quiqqer-frontend-users-address-delete-container-deleteBtn {

}

.quiqqer-frontend-users-address-delete-container address {
    margin: 20px auto;
}

